html body {
    background-color: black;
    
}

#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: black;
    width: 80%;
    height: 100vh;
    
}

#nav {
    background-color: #273043;
    border-radius: 25px;
    border: solid black 5px;
}

#div2 {
    background-color: #9197AE;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 25px;
    padding: 10px;
    border: solid black 5px;
}

#dispPost {
    background-color: #D1D5DC;
    height: 100vh;
}

#editDelete {
    display: flex;
    flex-direction: row;
    background-color: #9197AE;
    justify-content: center;
    height: 100%;
}

.content {
    height: auto;
}

#footer {
    height: auto;
    background-color: #9197AE;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#Articles {
    padding: 10px;
}

 .form {
    display: flex;
    flex-direction: column;
 }

#newPost {
    width: 100%;
    border: none;
}

html h1 {
    color: #EFF6EE;
}

html h2 {
    color: #F02D3A;
}

html h3 {
    color: #EFF6EE;
}

html h4 {
    color: #273043;
}

.button {
    color: #273043;
    font-size: large;
    font-weight: 500;
}

img {
    width: 100%;
}